<div class="flex bg-secondary p-4 items-center">
  <div class="w-[200px]">
    <button (click)="redirectToRoot()">
      <img ngSrc="../../../assets/logos/pokeball-logo.png" alt="logo" height="60" width="60">
    </button>
  </div>
  <div class="flex-grow text-center m-auto">
    <h1 class="text-3xl text-white font-pokemon">POKEDEX</h1>
  </div>
  <div class="w-[200px]">
    <app-button-base *ngIf="auth.currentUser" (click)="logout()" class="text-white font-pokemon" value="Sign out"></app-button-base>
  </div>
</div>
