<div class="bg-tertiary h-full px-[400px] py-20">
  <div class="space-y-3">
      <div>
        <label class="block text-gray-700  font-bold mb-2" for="name">Nom</label>
        <input [(ngModel)]="name" (input)="search()" class="shadow appearance-none border rounded py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" id="name" type="text" placeholder="Nom">
      </div>
      <div>
        <button [disabled]="!hasPreviousElements" (click)="precedent()" class="disabled:bg-gray-500 bg-secondary hover:bg-secondaryDark active:bg-secondaryDarker text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline" type="button">
          Precedent
        </button>
        <button [disabled]="!hasNextElements" (click)="suivant()" class="disabled:bg-gray-500 bg-secondary hover:bg-secondaryDark active:bg-secondaryDarker text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline" type="button">
          Suivant
        </button>
      </div>
  </div>
  <div>
    <div *ngFor="let pokemon of paginatedPokemons">
      <app-pokemon-card [pokemon]="pokemon"></app-pokemon-card>
    </div>
  </div>
</div>
